body {
    font-family: 'Oswald', sans-serif;
    background-color: black;
  }
  
  #container {
    width: 420px;
    background-color:black;
    border-radius: 3px;
    padding: 0px 15px 0px 15px;
    margin: 10px auto;
    border: 1px solid #ddd;
    color: hotpink;
  }
  
  h1 {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
  }
  
  ul {
    list-style-type: square;
    margin: 20px 0 20px 0;
    color:green;
  }
  
  input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
    font-size: 15px;
  }
  
  button {
    border: 1px solid #ccc;
    margin-left: 15px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
  }

  #edit {
    border: 1px solid #ccc;
    margin-left: 5px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: yellow;
  }
  
  .delete {
    cursor: pointer;
    color: red;
    font-weight: bold;
  }

  .update {
    cursor: pointer;
    color: lightblue;
    font-weight: bold;
  }